{% extends 'ride/base.html' %}

{% block content %}
<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Join a ride</div>

    <!-- List group -->
    <form method="POST" novalidate>
        {% csrf_token %}
        <div style="width: 1300px; margin-left: 100px;">
            <label>{{form.destination.label}}</label>
            {{ form.destination }}
            <div style="color: red">{{form.destination.errors.0}}</div>

            <label>{{form.earliest_arrival.label}}</label>
            {{ form.earliest_arrival }}
            <div style="color: red">{{form.earliest_arrival.errors.0}}</div>

            <label>{{form.latest_arrival.label}}</label>
            {{ form.latest_arrival }}
            <div style="color: red">{{form.latest_arrival.errors.0}}</div>

            <label>{{form.party_size.label}}</label>
            {{ form.party_size }}
            <div style="color: red">{{form.party_size.errors.0}}</div>
            <p></p>
            <input type="submit" value="Search" class="btn btn-primary">
        </div>
    </form>

</div>
{% endblock %}