{% extends 'ride/base.html' %}

{% block content %}
<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading"><h4>Edit Ride Information</h4></div>

    <!-- List group -->
    <div class="panel-body">
        <form method="POST" novalidate>
            {% csrf_token %}
            <div style="width: 1300px; margin-left: 100px;">
                <label>{{form.destination.label}}</label>
                <input type="text" name="destination" class="form-control" placeholder="{{ form.destination.label }}"
                    value="{{ ride.destination }}">
                <div style="color: red">{{form.destination.errors.0}}</div>

                <label>{{form.arrival_time.label}}</label>
                <input type="datetime-local" name="arrival_time" class="form-control"
                    placeholder="{{ form.arrival_time.label }}">
                <div style="color: red">{{form.arrival_time.errors.0}}</div>

                <label>{{form.party_size.label}}</label>
                <input type="number" name="party_size" class="form-control" placeholder="{{ form.party_size.label }}"
                    value="{{ ride.owner_seats }}">
                <div style="color: red">{{form.party_size.errors.0}}</div>

                <label>{{form.vehicle_type.label}}</label>
                <select name="vehicle_type" class="form-control">
                    <option value="Sedan">Sedan</option>
                    <option value="SUV">SUV</option>
                    <option value="Coupe">Coupe</option>
                    <option value="Van">Van</option>
                </select>
                <div style="color: red">{{form.vehicle_type.errors.0}}</div>

                <label>{{form.sharable.label}}</label>
                {{ form.sharable }}
                <div style="color: red">{{form.sharable.errors.0}}</div>

                <label>{{form.special_request.label}}</label>
                <input type="text" name="special_request" class="form-control"
                    placeholder="{{ form.special_request.label }}" value="{{ ride.special_request }}">
                <div style="color: red">{{form.special_request.errors.0}}</div>
                <p></p>
                <input type="submit" value="Save" class="btn btn-primary">
            </div>
        </form>
    </div>
</div>
{% endblock %}